* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    color: #cdd6f4;
}

window#waybar {
    background: #1e1e2e;
}

#custom-logo {
    margin: 0;
    margin-right: 5px;
    margin-left: 0px;
    font-size: 22px;
    padding-right: 16px;
    padding-left: 12px;
    background: #89b4fa;
    border-radius: 6px;
    color: black;
}

/* Invisible hover effect for workspaces button */
#workspaces button:hover {
    border: none;
    color: inherit;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}

/* Invisible hover effect for workspaces label */
#workspaces button:hover label {
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: inherit;
}

/* Default label color for workspaces */
#workspaces button label {
    color: #313244;
    font-size: 22px;
    margin: -5px;
    padding-right: 8px;
    transition: all 0.4s ease;
}

/* Active workspace label color */
#workspaces button.active label {
    color: #89b4fa;
}

#clock,
#battery,
#pulseaudio,
#tray,
#language,
#weather {
    padding: 0 10px;
    margin: 0 10px;
}

#custom-weather {
    margin: 0;
    color: #f5e0dc;
    border-bottom: 5px solid #f5e0dc;
}

#pulseaudio {
    margin: 0;
    color: #b4befe;
    border-bottom: 5px solid #b4befe;
}

#pulseaudio.muted {
    padding: 0 20px;
    color: #f38ba8;
    border-bottom: 5px solid #f38ba8;
}

#battery {
    margin: 0;
    color: #fab387;
    border-bottom: 5px solid #fab387;
}

#clock {
    margin: 0;
    color: #f9e2af;
    border-bottom: 5px solid #f9e2af;
}

#tray {
    margin: 0;
    color: #a6e3a1;
    border-bottom: 5px solid #a6e3a1;
}

#custom-notification {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #94e2d5;
    border-bottom: 5px solid #94e2d5;
}

#custom-power {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #f38ba8;
    border-bottom: 5px solid #f38ba8;
    font-size: 14px;
}
