* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    color: #cdd6f4;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: #1e1e2e;
}

#custom-logo {
    margin: 0 10px;
    font-size: 22px;
    color: white;
}

#workspaces {
    margin: 0;
    padding: 0;
    background: #181825;
    border-radius: 6px;

    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 0;
}

#workspaces button {
    margin: 0;
    padding: 0;
    transition: all 0.2s linear;
    border-radius: 6px;
}

/* Invisible hover effect for workspaces button */
#workspaces button:hover {
    border: none;
    color: inherit;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}

/* Invisible hover effect for workspaces label */
#workspaces button:hover label {
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: inherit;
}

/* Default label color for workspaces */
#workspaces button label {
    color: #313244;
    font-size: 12px;
    transition: all 0.1s linear;
    border-radius: 6px;
}

#workspaces button.active {
    background: #89b4fa;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

/* Active workspace label color */
#workspaces button.active label {
    color: black;
}

#clock,
#battery,
#pulseaudio,
#tray,
#language,
#weather {
    padding: 0 10px;
}

#custom-weather {
    margin: 5px 2px;
    color: black;
    background: #f5e0dc;
    border-radius: 6px;
}

#pulseaudio {
    margin: 5px 2px;
    color: black;
    background: #b4befe;
    border-radius: 6px;
}

#pulseaudio.muted {
    padding: 0 25px;
    margin: 5px 2px;
    color: black;
    background: #f38ba8;
    border-radius: 6px;
}

#battery {
    margin: 5px 2px;
    color: black;
    background: #fab387;
    border-radius: 6px;
}

#clock {
    margin: 5px 2px;
    color: black;
    background: #f9e2af;
    border-radius: 6px;
}

#tray {
    margin: 5px 2px;
    color: black;
    background: #e3a1a1;
    border-radius: 6px;
}

#custom-notification {
    padding: 0 10px;
    margin: 5px 2px;
    color: black;
    background: #94e2d5;
    border-radius: 6px;
}

#custom-power {
    font-size: 14px;
    padding: 0 10px;
    margin: 5px 2px;
    color: black;
    background: #f38ba8;
    border-radius: 6px;
}
